{% extends 'base.html' %}

{% block lab %}Админская панель{% endblock %}

{% block content %}
<div class="container">
    <h2>Админская панель</h2>

    <section id="user-registration">
        <h3>Регистрация кладовщиков</h3>
        <form id="adminRegisterForm" onsubmit="registerStorekeeper(event)">
            <input type="text" id="name" placeholder="Name" required>
            <input type="text" id="login" placeholder="Login" required>
            <input type="password" id="password" placeholder="Password" required>
            <button type="submit">Регистрация</button>
        </form>
    </section>
    <div>
        <a href="{{ url_for('index') }}">&larr; Назад</a>
    </div>
</div>
<script src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}
