{% extends 'base.html' %}

{% block lab %}Домашняя страница{% endblock %}

{% block content %}
<div class="text-center">
    <h2 class="mb-4">База бытовой техники</h2>
    {% if 'user_id' in session %}
        {% if user_role == 'admin' %}
            <p>Добро пожаловать в административную панель, <strong>Администратор</strong>. Здесь вы можете регистрировать новых кладовщиков.</p>
            <a href="{{ url_for('admin_panel') }}" class="btn btn-primary">Регистрация кладовщиков</a>
        {% else %}
            <p>Добро пожаловать, <strong>Кладовщик</strong>. Используйте меню для управления товарами и заказами.</p>
        {% endif %}
        <div class="mt-4">
            <a href="{{ url_for('logout') }}" class="btn btn-secondary">Выйти</a>
        </div>
    {% else %}
        <p>Пожалуйста, <a href="{{ url_for('login_page') }}" class="btn btn-link">войдите</a> для доступа к функционалу.</p>
    {% endif %}
</div>
{% endblock %}
