{% extends 'base.html' %}

{% block content %}

<div class="add-product-form">
    <h2>Добавить товар в накладную</h2>
    <input type="text" id="productName" placeholder="Название продукта">
    <input type="number" id="productQuantity" placeholder="Количество">
    <button onclick="addProductToInvoice()">Добавить в накладную</button>
</div>
<div>
    <h2>Добавить или Обновить Продукт</h2>
    <input type="text" id="newProductName" placeholder="Название Продукта">
    <input type="number" id="newProductQuantity" placeholder="Количество">
    <button onclick="addOrUpdateProduct()">Подтвердить</button>
</div>

<div>
    <h2>Продукты</h2>
    <div id="productsList">Чтобы загрузить ещё продуктов нажмите кнопку ниже</div>
</div>

<button id="moreButton" onclick="loadMoreProducts()" style="display:none;">Загрузить Еще Продукты</button>

<!-- Добавлен скрытый input для user ID -->
<input type="hidden" id="userId" value="{{ user_id|tojson }}">

<script src="{{ url_for('static', filename='js/products.js') }}"></script>
{% endblock %}
